*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body{
    font-family: 'open sans';
    background: #000;
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    color: #fff;
}
/*Header*/
header{
    width: 100%;
    height: 320px;
    background: #000;
    background-attachment: fixed;
    position: relative;

}
header .contacto{
    display: flex;
    height: 320px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.contacto h1{
    color: #FF0000;
    text-align: center;
    font-size: 55px;
    font-weight: 300;
    margin-bottom: 30px;

}
.contacto h3{
    color: #FF0000;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
}
nav{

    padding: 30px 90px 10 80;

}

nav > a{
    color: #FF0000;
    font-weight: 500;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover{
    text-decoration: underline;
}
header .textos-header{
    display: flex;
    height: 420px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.textos-header h1{
    font-size: 50px;
    color : #FF0000;
}
.textos-header h2{
    font-size: 30px;
    color: #FF0000;
    font-weight: 300;
    margin: 20px 0;
}
/*footer*/
footer{
    background: #000;
    padding: 130px 0;
    color: #ffffff;
    text-align: center;
    font-size: 34px;
    font-weight: 100;    
    
}
.figure{
    width: 5px;
    height: 5px;
}
.contenedor-footer .content-foo p{
    background: #fff;
    display: inline-block;
    padding: 30px 240px;
    color: #fff;
}




@media screen and (max-width: 900px){
    header{
        background-position: center;
    }
    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sobre-nosotros .contenido-textos{
        width: 90%;
    }
    .imagen-about-us{
        width: 90%;
    }
    /*Galeria*/

    .imagen-port{
        width: 44%;
    }
}

@media screen and (max-width: 500px){
    nav{
        align-items: center;
        padding: 30px 0 0 0;
    }
    nav > a{
        margin-right: 5px;
    }
    .textos-header h1{
        font-size: 35px;
    }
    .textos-header h2{
        font-size: 20px;
    }

    /*About us*/

    .imagen-about-us{
        width: 99%;
        margin-bottom: 60px;
    }
    .sobre-nosotros .contenido-textos{
        width: 95%;
    }
    /*Galeria*/
    .imagen-port    {
        width: 95%;
    }

    /*Footer*/

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }
    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }
    .content-foo h4{
        border: none;
    }
    .content-foo p{
        border-bottom: #f2f2f2 1px solid;
        color: #ccc;
        padding-bottom: 20px;
    }
    .titulo-final{
        font-size: 20px;
    }
}